/* body{
    font-family: "Roboto", sans-serif;
}

div#app{
    width:100vw;
}

h1{
    font-size: 38px;
    font-weight:700;
}

h2{
    font-size: 38px;
    font-weight:400;
}

section#quiz div.quiz_page h1{
    font-family: sans-serif
} */